<body>
  <div class="flex-container">
    <svg class="displayContext">
    </svg>

    <div class="inputForm">
      <form style="position: absolute; bottom: 130px; margin: 17px">
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col">
            <input type="number" class="form-control" placeholder="Squat">
          </div>
          <div class="col">
            <input type="number" class="form-control" placeholder="Bench">
          </div>
          <div class="col">
            <input type="number" class="form-control" placeholder="Deadlift">
          </div>
        </div>


        <button type="submit" class="submitBtn">Submit</button>

      </form>


    </div>
  </div>
</body>

<script>
  drawChart();
</script>
