<body>
  <div class="flex-container">
    <svg class="displayContext">
    </svg>

    <div class="inputForm">
      <form>
        <div class="row" style="padding: 25px; padding-bottom: 10px;">
          <div class="col-sm-4">
            <label> Squat </label>
            <input type="number" class="form-control input-md">
          </div>

          <div class="col-sm-4">
            <label> Bench </label>
            <input type="number" class="form-control input-md">
          </div>

          <div class="col-sm-4">
            <label> Deadlift </label>
            <input type="number" class="form-control input-md">
          </div>
        </div>
        <div class="row" style="padding: 25px; padding-bottom: 10px;">
          <div class="col-sm-12">
            <label> Gender </label>
            <select class="form-control">
              <option value="male"> Male   </option>
              <option value="male"> Female </option>
            </select>
          </div>
        </div>
        <div class="row" style="padding: 25px; padding-bottom: 10px;">
          <div class="col-sm-12">
            <label class="p_tooltip">
                Age ⓘ
              <span class="p_tooltip_text">
                Age on January 1st
              </span>
            </label>
            <input type="number" class="form-control input-md" title="testing">
          </div>
        </div>
        <div class="row" style="padding: 25px; padding-bottom: 10px;">
          <div class="col-sm-12">
            <label> Weight Class </label>
            <select class="form-control">
              <option value="male"> Male   </option>
              <option value="male"> Female </option>
            </select>
          </div>
        </div>
        <button type="submit" class="submitBtn">Submit</button>
      </form>
    </div>
  </div>
</body>

<script>
  drawChart();
</script>
